<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Student Management System</title>
    <link crossorigin="anonymous"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          rel="stylesheet">
</head>
<body style="background-color: #9fbab3">
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
                <h1 class="text-center"> Change your password </h1>
                <div class="card-body">
                    <form method="POST" th:action="@{/changePassword}" th:object="${passwordDto}">
                        
                        <div class="form-group">
                            <label>Enter Current password</label>
                            <input class="form-control" name="name" th:field="${passwordDto.currentPassword}" th:maxlength="35" type="text"/>
                            <div class="alert alert-danger" th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}"></div>
                        </div>
                        
                        <div class="form-group">
                            <label>Enter new password</label>
                            <input class="form-control" name="newPassword" th:field="${passwordDto.newPassword}" th:maxlength="35" type="text"/>
                            <div class="alert alert-danger" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></div>
                        </div>
                        
                        
                        <div class="box-footer">
                            <button class="btn btn-primary" type="submit">
                                Submit
                            </button>
                            
                            <a class="btn btn-danger"
                               th:href="@{/users}">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>