<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Student Management System</title>
    <link crossorigin="anonymous"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          rel="stylesheet">
</head>
<body style="background-color: #9fbab3">
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Student Management System</a>


    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" data-target="#collapsibleNavbar" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/all}">All</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/users}">Student Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/courses}">Course Management</a>
            </li>
            <li class="nav-item" style="margin-left: 250px; padding-left: 250px">
                <a class="nav-link" th:href="@{/signout}">Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/change_password}">Change Password</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h3 style="text-align: center">
                <tr class="text-center " th:action="@{/course/{id} (id=${course.id})}" th:object="${course}">
                    <td th:text="*{courseName}">1</td>
                    's details

                </tr>
            </h3>

            <div class="card-body">
                <form method="POST" th:action="@{/course/{id} (id=${course.id})}" th:object="${course}">
                    <div class="form-group">
                        <strong>NAME:</strong>
                        <td th:text="*{courseName}">1</td>


                    </div>
                    <div class="form-group">
                        <strong>status:</strong>
                        <td th:text="*{status}">1</td>

                    </div>

                    <div class="form-group">
                        <strong>START DATE:</strong>
                        <td th:text="*{courseStartDate}">1</td>
                    </div>

                    <div class="form-group">
                        <strong>END DATE:</strong>
                        <td th:text="*{courseEndDate}">1</td>

                    </div>
                    <div class="form-group">
                        <strong>LAST MODIFIED:</strong>
                        <td th:text="*{modifiedDate}">1</td>
                    </div>

                    <hr>
                    <div class="form-group">

                        <table class="table" style="background-color: white">
                            <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr th:each="user: ${users}">
    
                                <td th:text="${user.userDto.firstName}"></td>
                                <td th:text="${user.userDto.lastName}"></td>
    
                                <td style="text-align: center">
                                    <a class="btn" th:href="@{/users/{id}(id=${user.userId})}">View</a>
                                    <a class="btn " th:href="@{/users/{courseId}/{studentId}(courseId=${course.id}, studentId=${user.userId})}">Remove from course </a>
                                </td>

                            </tbody>
                        </table>
                    </div>


                </form>
    
                <a class="btn btn-danger"
                   th:href="@{/courses}">Back</a>
    
                <button
                        class="btn btn-success" onclick="myFunction()">assign student
                </button>
    
                <div id="myDIV" style="display: none">
                    <div class="card-body">
                        <table class="table table-striped table-bordered" style="background-color: white">
                            <thead class="table-dark">
                            <tr>
                                <th style="text-align: center">First Name</th>
                                <th style="text-align: center">Last Name</th>
                                <th style="text-align: center">Actions</th>
                            </tr>
                            </thead>
        
                            <tbody>
                            <tr th:each="user: ${userList}">
                                <td th:text="${user.firstName}"></td>
                                <td th:text="${user.lastName}"></td>
            
                                <td style="text-align: center">
                                    <a class="btn btn-dark"
                                       th:href="@{/users/{id}(id=${user.id})}">View</a>
    
                                    <a class="btn btn-dark"
                                       th:href="@{/course/assign/{userId}/{courseId} (userId=${user.id},courseId=${course.id}) }">select</a>
                                </td>
    
                              
                                
                            </tr>
                            </tbody>
    
                        </table>
        
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
</body>

<script>
    function myFunction() {
        var x = document.getElementById("myDIV");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>

</html>