<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Student Management System</title>
    <link crossorigin="anonymous"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          rel="stylesheet">
</head>
<body style="background-color: #9fbab3">



<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Student Management System</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" data-target="#collapsibleNavbar" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/users}">Student Management</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center"> Create New Course </h1>
            <div class="card-body">
                <form method="POST" th:action="@{/courses}" th:object="${course}">
    
    
    
                    <div th:if="${#fields.hasGlobalErrors()}" class="alert alert-danger">
                        <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
                    </div>
                    
                <div class="form-group">
                        <label>Course name </label>
                        <input class="form-control" name="courseName" th:field="*{courseName}" type="text"/>
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('courseName')}" th:errors="*{courseName}"></div>
                    </div>
    
                    <div class="form-group">
                        <label>Course price </label>
                        <input class="form-control" name="price" th:field="*{price}" type="number"/>
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
                    </div>

                    <div class="form-group">
                        <label> course registration date </label>
                        <input class="form-control" name="registrationStartDate" th:field="*{registrationStartDate}" type="date"/>
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('registrationStartDate')}" th:errors="*{registrationStartDate}"></div>
                    </div>


                    <div class="form-group">
                        <label> course registration end date</label>
                        <input class="form-control" name="registrationEndDate" th:field="*{registrationEndDate}" type="date"/>
                    </div>
    
                    <div class="form-group">
                        <label> course start date</label>
                        <input class="form-control" name="courseStartDate" th:field="*{courseStartDate}" type="date"/>
                    </div>

                    <div class="form-group">
                        <label> course end date</label>
                        <input class="form-control" name="courseEndDate" th:field="*{courseEndDate}" type="date"/>
                    </div>
    
                    <div class="form-group ">
                        <div><label> Status </label></div>
                        <select name="status" th:field="*{status}"  style="text-align: center" class="form-control" >
                            <option th:each="statusOpt : ${T(al.ikubinfo.registrationmanagement.dto.CourseStatus).values()}"
                                    th:text="${statusOpt.getDisplayValue()}" th:value="${statusOpt}" ></option>
                        </select>
                    </div>
                    
    
    
                    <div class="box-footer">
                        <button class="btn btn-primary" type="submit">
                            Submit
                        </button>
                    </div>


                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>