<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Student Management System</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body style="background-color: #9fbab3">
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Student Management System</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/students}">Student Management</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
<div class = "container">
    <div class = "row">
        <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class = "text-center"> Create New Course </h1>
            <div class = "card-body">
                <form th:action="@{/courses}" th:object = "${course}" method="POST">
                    <div class ="form-group">
                        <label> course Name </label>
                        <input
                                type = "text"1
                                name = "name"
                                th:maxlength="35"
                                th:field = "*{name}"
                                class = "form-control"
                                placeholder="Enter course  Name"
                        />
                    </div>

                    <div class ="form-group ">
                        <div><label> Course Status </label></div>
                        <select name="status" style="text-align: center" >
                            <option th:each="statusOpt : ${T(al.ikub.hracademy.entity.CourseProgressStatus).values()}"
                                    th:value="${statusOpt}" th:text="${statusOpt.getDisplayValue()}"></option>
                        </select>

                    </div>

                    <div class ="form-group">
                        <label> course start date  </label>
                        <input
                                type="tect"
                                th:field="*{dateAdded}"
                                name = "startDate"
                                class = "form-control"
                                placeholder="yyyy-MM-dd"
                        />
                    </div>

                    <div class ="form-group">
                        <label> course end date</label>
                        <input
                                type = "text"
                                name = "endDate"
                                th:field = "*{endDate}"
                                class = "form-control"
                                placeholder="yyyy-MM-dd"
                        />
                    </div>



                    <div class = "box-footer">
                        <button type="submit" class = "btn btn-primary">
                            Submit
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>