<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Student Management System</title>
    <link crossorigin="anonymous"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          rel="stylesheet">
</head>
<body style="background-color: #9fbab3">
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Student Management System</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" data-target="#collapsibleNavbar" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/courses}">Student Management</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center"> Update course </h1>
            <div class="card-body">
                <form method="POST" th:action="@{/course/{id} (id=${course.id})}" th:object="${course}">
                    <div class="form-group">
                        <label>Course name </label>
                        <input
                                1 class="form-control"
                                name="name"
                                th:required="required"
                                th:field="*{name}"
                                th:maxlength="35"
                                type="text"
                        />
                    </div>

                    <div class="form-group ">
                        <div><label> Course Status </label></div>
                        <select name="status" style="text-align: center">
                            <option th:each="statusOpt : ${T(al.ikubinfo.registrationmanagement.entity.CourseProgressStatus).values()}"
                                    th:text="${statusOpt.getDisplayValue()}" th:value="${statusOpt}"></option>
                        </select>

                    </div>

                    <div class="form-group">
                        <label>Start date</label>
                        <input
                                class="form-control"
                                name="startDate"
                                th:required="required"
                                th:field="*{startDate}"
                                type="date"
                        />
                    </div>

                    <div class="form-group">
                        <label>End date</label>
                        <input
                                class="form-control"
                                name="endDate"
                                placeholder="yyyy-MM-dd"
                                th:required="required"
                                th:field="*{endDate}"
                                type="date"
                        />
                    </div>

                    <div class="box-footer">
                        <button class="btn btn-primary" type="submit">
                            Submit
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>