<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Student Management System</title>
    <link crossorigin="anonymous"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          rel="stylesheet">
</head>
<body style="background-color: #9fbab3">
<div style="padding: 50px; margin: 50px">


    <h1> ERROR </h1>
    <h3><p   th:utext="${errorMessage}"></p></h3>
    <button  type="button" class="btn btn-primary" onclick="history.back() ">Go Back</button>
</div>


</body>
</html>