<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Student Management System</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body style="background-color: #9fbab3">
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Student Management System</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/students}">Student Management</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/courses}">Course Management</a>
      </li>
    </ul>
  </div>
</nav>

	<div class ="container">
		<div style="text-align: center">
			<h2> All Students </h2>
		</div>
		
		<div class = "row">
			<div class = "col-lg-3">
				<a th:href = "@{/students/new}" class = "btn btn-primary btn-sm mb-1"> Add Student</a>
			</div>
		</div>
		<table class = "table table-striped table-bordered" style="background-color: white" >
			<thead class = "table-dark">
				<tr>
					<th style="text-align: center">First Name</th>
					<th style="text-align: center">Last Name</th>
					<th style="text-align: center">Phone Number</th>
					<th style="text-align: center">Email</th>
					<th style="text-align: center">Status</th>
					<th style="text-align: center">Actions</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each = "student: ${students}">
					<td th:text = "${student.firstName}"></td>
					<td th:text = "${student.lastName}"></td>
					<td th:text = "${student.phoneNumber}"></td>
					<td th:text = "${student.email}"></td>
					<td th:text = "${student.status}"></td>

					<td style="text-align: center">
						<a th:href = "@{/students/{id}(id=${student.id})}"
						   class = "btn btn-dark">View</a>

						<a th:href = "@{/students/edit/{id}(id=${student.id})}"
						 class = "btn btn-primary">Update</a>
						
						<a th:href = "@{/students/delete/{id}(id=${student.id})} "
						 class = "btn btn-danger"
						 th:data-confirm-delete="|Are you sure you want to delete this user |"
						 onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false">
							Delete</a>
					</td>
				</tr>
			</tbody>
		
		</table>
		
	</div>
</body>
</html>