<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Student Management System</title>
    <link crossorigin="anonymous"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          rel="stylesheet">
</head>
<body style="background-color: #9fbab3">
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Student Management System</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" data-target="#collapsibleNavbar" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/users}">Student Management</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h3 style="text-align: center">
                <tr class="text-center " th:action="@{/users/{id} (id=${user.id})}" th:object="${user}">
                    <td th:text="*{firstName + ' ' + lastName}">1</td>

                </tr>
            </h3>

            <div class="card-body">
                <form method="POST" th:action="@{/users/{id} (id=${user.id})}" th:object="${user}">
                    <div class="form-group">
                        <strong>NAME:</strong>
                        <td th:text="*{firstName}">1</td>
                    </div>

                    <div class="form-group">
                        <strong> LAST NAME:</strong>
                        <td th:text="*{lastName}">1</td>

                    </div>

                    <div class="form-group">
                        <strong>PHONE NUMBER:</strong>
                        <td th:text="*{phoneNumber}">1</td>
                    </div>

                    <div class="form-group">
                        <strong> EMAIL:</strong>
                        <td th:text="*{email}">1</td>
                    </div>

                    <div class="form-group">
                        <strong> REACH FORM:</strong>
                        <td th:text="*{reachForm}"></td>
                    </div>

                    <div class="form-group">
                        <strong> BIRTHDAY:</strong>
                        <td th:text="*{birthDate}"></td>

                    </div>

                    <div class="form-group">
                        <strong> LAST MODIFIED:</strong>
                        <td th:text="*{modifiedDate}">1</td>
                    </div>



                    <div class="box-footer">
                        <a class="btn btn-primary"
                           th:href="@{/users/edit/{id}(id=${user.id})}">Update</a>

                        <a class="btn btn-success"
                           th:href="@{/users}">Back</a>

                    </div>
                </form>


            </div>
        </div>
    </div>
</div>
</body>
</html>